@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;0,600;0,800;0,900;1,700&display=swap");

#app,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
